.form-footer {
    text-align: right;
    margin-top: 24px;
  }
  .form-footer button:not(:last-child) {
    margin-right: 8px;
  }

  .machine-codes-count {
    margin-top: 8px;
    color: #666;
    font-size: 12px;
  }
  
  textarea {
    font-family: monospace; // 使用等宽字体，便于阅读机器码
  }