<div class="table-operations">
    <button nz-button nzType="primary" (click)="openSystemForm()">
      <i nz-icon nzType="plus"></i>添加系统
    </button>
    <nz-input-group [nzSuffix]="suffixIcon">
      <input nz-input
             placeholder="搜索系统"
             [(ngModel)]="searchValue"
             (ngModelChange)="onSearch()">
    </nz-input-group>
    <ng-template #suffixIcon>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>

  <nz-table #basicTable
            [nzData]="systems"
            [nzLoading]="loading"
            [nzTotal]="total"
            [(nzPageIndex)]="pageIndex"
            [(nzPageSize)]="pageSize"
            (nzPageIndexChange)="loadSystems()"
            (nzPageSizeChange)="loadSystems()">
    <thead>
      <tr>
        <th>系统名称</th>
        <th>描述</th>
        <th>最大并发数</th>
        <th>授权类型</th>
        <th>单独授权</th>
        <th>状态</th>
        <th>创建时间</th>
        <th>创建人</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let system of basicTable.data">
        <td>{{ system.name }}</td>
        <td>{{ system.description }}</td>
        <td>{{ system.maxConcurrent }}</td>
        <td>{{ getAuthTypeLabel(system.authType) }}</td>
        <td>
          <nz-tag [nzColor]="system.independentAuth ? 'green' : 'default'">
            {{ system.independentAuth ? '是' : '否' }}
          </nz-tag>
        </td>
        <td>
          <nz-tag [nzColor]="system.status === SystemStatus.ACTIVE ? 'success' : 'error'">
            {{ system.status === SystemStatus.ACTIVE ? '启用' : '禁用' }}
          </nz-tag>
        </td>
        <td>{{ system.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        <td>{{ system.createdBy }}</td>
        <td>
          <a (click)="openSystemForm(system)">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="deleteSystem(system)">删除</a>
        </td>
      </tr>
    </tbody>
  </nz-table>