.table-operations {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .delete-link {
    color: #ff4d4f;
  }

  .delete-link:hover {
    color: #ff7875;
  }