<form nz-form [formGroup]="passwordForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">当前密码</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input nz-input type="password" formControlName="currentPassword" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6">新密码</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input nz-input type="password" formControlName="newPassword" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6">确认新密码</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input nz-input type="password" formControlName="confirmPassword" />
      </nz-form-control>
    </nz-form-item>
    <div class="modal-footer">
      <button nz-button (click)="cancel()">取消</button>
      <button nz-button nzType="primary" [disabled]="!passwordForm.valid">确认修改</button>
    </div>
  </form>