.status-tag {
    padding: 2px 8px;
    border-radius: 4px;
  }
  .text-red-600 {
    color: #ff4d4f;
    background-color: #fff1f0;
  }
  .text-green-600 {
    color: #52c41a;
    background-color: #f6ffed;
  }