.license-list-container {
    padding: 24px;
  
    .operations {
      margin-bottom: 16px;
      text-align: right;
    }
  
    nz-tag {
      margin: 2px;
    }
  
    .ant-table-expanded-row {
      background: #fafafa;
    }
  
    nz-tabset {
      margin: 8px 24px;
    }
  }