<form [formGroup]="form" (ngSubmit)="submit()">
    <!-- 基本信息 -->
    <div class="form-section">
      <h2>基本信息</h2>
      <div class="form-row">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">医院名称</nz-form-label>
          <nz-form-control [nzSpan]="14" [nzErrorTip]="'请输入医院名称'">
            <input nz-input formControlName="hospitalName" placeholder="请输入医院名称">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="form-section">
      <h2>服务器硬件信息</h2>
      <div class="form-row">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">硬件信息</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <textarea 
              nz-input 
              formControlName="hardwareInfo" 
              [nzAutosize]="{ minRows: 3, maxRows: 5 }"
              placeholder="请输入服务器硬件信息">
            </textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <!-- 系统选择 -->
    <div class="form-section">
      <h2>系统选择</h2>
      <div class="form-row">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">选择系统</nz-form-label>
          <nz-form-control [nzSpan]="14" [nzErrorTip]="'请选择系统'">
            <nz-select formControlName="softwareId" (ngModelChange)="onSoftwareChange($event)">
              <nz-option *ngFor="let software of softwares" 
                        [nzValue]="software.id" 
                        [nzLabel]="software.name">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
        <!-- 新增授权版本选择 -->
        <div class="form-row" *ngIf="form.get('softwareId')?.value">
            <nz-form-item>
              <nz-form-label [nzSpan]="6">授权版本</nz-form-label>
              <nz-form-control [nzSpan]="14" [nzErrorTip]="'请选择授权版本'">
                <nz-select formControlName="licenseEdition">
                  <nz-option [nzValue]="LicenseEdition.TRIAL" nzLabel="试用版"></nz-option>
                  <nz-option [nzValue]="LicenseEdition.STANDARD" nzLabel="标准版"></nz-option>
                  <nz-option [nzValue]="LicenseEdition.ENTERPRISE" nzLabel="企业版"></nz-option>
                  <nz-option [nzValue]="LicenseEdition.DEMO" nzLabel="演示版"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
      <!-- 系统授权类型 -->
      <div class="form-row" *ngIf="form.get('softwareId')?.value">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">授权类型</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <nz-radio-group formControlName="authType">
              <label nz-radio [nzValue]="authTypes.TERMINAL">终端授权</label>
              <label nz-radio [nzValue]="authTypes.CONCURRENT">并发授权</label>
              <label nz-radio [nzValue]="authTypes.BOTH">终端和并发授权</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
  
      <!-- 系统并发数 -->
      <div class="form-row" *ngIf="isSoftwareConcurrentAuth()">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">系统并发数</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <nz-input-number formControlName="concurrentLimit" 
                            [nzMin]="1" 
                            [nzMax]="getMaxConcurrent()">
            </nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>
  
      <!-- 系统有效期 -->
      <div class="form-row">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">系统有效期</nz-form-label>
          <nz-form-control [nzSpan]="14" [nzErrorTip]="'请选择有效期'">
            <nz-range-picker formControlName="validRange"></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  
    <!-- 系统终端列表 -->
    <div class="form-section" *ngIf="isSoftwareTerminalAuth()">
      <h2>系统终端列表</h2>
      <button nz-button nzType="dashed" (click)="addSystemTerminal()">
        <i nz-icon nzType="plus"></i>添加终端
      </button>
  
      <div formArrayName="systemTerminals">
        <div *ngFor="let terminal of systemTerminalsArray.controls; let i=index" 
             [formGroupName]="i" 
             class="terminal-item">
          <nz-form-item>
            <nz-form-label [nzSpan]="6">终端名称</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input formControlName="name" placeholder="请输入终端名称">
            </nz-form-control>
          </nz-form-item>
  
          <nz-form-item>
            <nz-form-label [nzSpan]="6">MAC地址</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input formControlName="macAddress" placeholder="请输入MAC地址">
            </nz-form-control>
          </nz-form-item>
  
          <button nz-button nzType="link" nzDanger (click)="removeSystemTerminal(i)">
            <i nz-icon nzType="delete"></i>
          </button>
        </div>
      </div>
    </div>
  
    <!-- 模块列表 -->
    <div class="form-section">
      <h2>模块列表</h2>
      <div formArrayName="modules">
        <div *ngFor="let module of modulesArray.controls; let i=index" 
             [formGroupName]="i" 
             class="module-item">
          <div class="module-header">
            <label nz-checkbox formControlName="enabled">
              {{module.get('name')?.value}}
            </label>
                <!-- 当模块被选中时显示并发数输入框 -->
            <nz-form-item *ngIf="module.get('enabled')?.value" class="concurrent-input">
              <nz-form-label [nzSpan]="8">模块并发数</nz-form-label>
              <nz-form-control [nzSpan]="16" [nzErrorTip]="'请输入有效的并发数'">
                <nz-input-number 
                  formControlName="concurrentLimit"
                  [nzMin]="1"
                  [nzStep]="1"
                  [nzPrecision]="0">
                </nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
    </div>
  
    <!-- 提交按钮 -->
    <div class="form-footer">
      <button nz-button nzType="primary" type="submit">提交</button>
    </div>
  </form>