<div class="activation-success">
    <nz-result
      nzStatus="success"
      nzTitle="激活成功"
      nzSubTitle="以下是所有激活信息">
      <div nz-result-content>
        <div class="action-bar">
          <button nz-button nzType="primary" (click)="copyAllInfo()">
            <span nz-icon nzType="copy" nzTheme="outline"></span>
            复制所有信息
          </button>
        </div>
        
        <nz-table #basicTable 
          [nzData]="activationList" 
          [nzShowPagination]="false"
          nzSize="small">
          <thead>
            <tr>
              <th>序号</th>
              <th>机器码</th>
              <th>激活码</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of basicTable.data; let i = index">
              <td>{{ i + 1 }}</td>
              <td>
                <span class="code-text">{{ item.machineCode }}</span>
              </td>
              <td>
                <span class="code-text">{{ item.activationCode }}</span>
              </td>
              <td>
                <button nz-button 
                  nzType="link" 
                  nzSize="small" 
                  (click)="copySingleRow(item)">
                  复制本行
                </button>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-result>
  </div>