<div class="quota-form">
    <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>系统</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-select
            formControlName="systemId"
            nzPlaceHolder="请选择系统"
            (ngModelChange)="onSystemChange()">
            <nz-option
              *ngFor="let system of systems"
              [nzValue]="system.id"
              [nzLabel]="system.name">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
  
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>模块</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-select
            formControlName="moduleId"
            nzPlaceHolder="请选择模块">
            <nz-option
              *ngFor="let module of modules"
              [nzValue]="module.id"
              [nzLabel]="module.name">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
  
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>终端数量限制</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-input-number
            formControlName="terminalLimit"
            [nzMin]="0"
            [nzStep]="1">
          </nz-input-number>
        </nz-form-control>
      </nz-form-item>
  
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>并发数限制</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-input-number
            formControlName="concurrentLimit"
            [nzMin]="0"
            [nzStep]="1">
          </nz-input-number>
        </nz-form-control>
      </nz-form-item>
  
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>医院数量限制</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-input-number
            formControlName="hospitalLimit"
            [nzMin]="0"
            [nzStep]="1">
          </nz-input-number>
        </nz-form-control>
      </nz-form-item>
  
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>有效期至</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-date-picker
            formControlName="validTo"
            nzFormat="yyyy-MM-dd">
          </nz-date-picker>
        </nz-form-control>
      </nz-form-item>
  
      <div class="form-footer">
        <button nz-button type="submit" nzType="primary">添加配额</button>
      </div>
    </form>
  </div>
  
  <nz-divider></nz-divider>
  
  <nz-table #quotaTable [nzData]="quotas" [nzLoading]="loading">
    <thead>
      <tr>
        <th>系统</th>
        <th>模块</th>
        <th>终端限制</th>
        <th>并发限制</th>
        <th>医院限制</th>
        <th>已分配</th>
        <th>剩余可用</th>
        <th>有效期至</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quota of quotaTable.data">
        <td>{{ getSystemName(quota.systemId) }}</td>
        <td>{{ getModuleName(quota.moduleId) }}</td>
        <td>{{ quota.terminalLimit }}</td>
        <td>{{ quota.concurrentLimit }}</td>
        <td>{{ quota.hospitalLimit }}</td>
        <td>{{ quota.allocated }}</td>
        <td>{{ quota.remaining }}</td>
        <td>{{ quota.validTo | date:'yyyy-MM-dd' }}</td>
        <td>
          <a (click)="deleteQuota(quota.id)">删除</a>
        </td>
      </tr>
    </tbody>
  </nz-table>