<form nz-form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- 日期范围选择 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>排班日期</nz-form-label>
      <nz-form-control [nzSpan]="16" nzErrorTip="请选择排班日期范围">
        <nz-range-picker
          formControlName="dateRange"
          [nzDisabledDate]="disabledDate"
          nzFormat="yyyy-MM-dd">
        </nz-range-picker>
      </nz-form-control>
    </nz-form-item>

    <!-- 医生选择 -->
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>排班医生</nz-form-label>
        <nz-form-control [nzSpan]="14" [nzErrorTip]="'请选择排班医生'">
          <nz-select formControlName="doctorIds" nzPlaceHolder="请选择医生" [nzMode]="'multiple'">
            <nz-option *ngFor="let doc of doctorOptions" 
                      [nzValue]="doc.userId" 
                      [nzLabel]="doc.userName">
            </nz-option>
          </nz-select>
        </nz-form-control>
    </nz-form-item>

    <!-- 班次选择 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>排班班次</nz-form-label>
        <nz-form-control [nzSpan]="16" nzErrorTip="请选择一个班次">
            <nz-radio-group formControlName="selectedShiftId">
                <nz-table
                    #basicTable
                    [nzData]="shiftTypes"
                    [nzShowPagination]="false"
                    nzSize="small">
                    <thead>
                        <tr>
                            <th nzWidth="40px">选择</th>
                            <th>班次名称</th>
                            <th>时间</th>
                            <th>工作时长</th>
                            <th>休息时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let shift of shiftTypes">
                            <td>
                                <label nz-radio [nzValue]="shift.shiftTypeId"></label>
                            </td>
                            <td>{{ shift.shiftTypeName }}</td>
                            <td>{{ shift.startTime }} - {{ shift.endTime }}</td>
                            <td>{{ shift.workHours }}小时</td>
                              <td>
                                <span *ngIf="shift.excludeBreakTime && shift.breakStartTime && shift.breakEndTime">
                                  {{ shift.breakStartTime }}-{{ shift.breakEndTime }}
                                </span>
                                <span *ngIf="!shift.excludeBreakTime">无</span>
                              </td>
                        </tr>
                    </tbody>
                </nz-table>
            </nz-radio-group>
        </nz-form-control>
    </nz-form-item>

    <!-- 规则设置 -->
    <!-- <nz-form-item>
      <nz-form-label [nzSpan]="6">排班规则</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <nz-space nzDirection="vertical" style="width: 100%">
          <div *nzSpaceItem>
            <label nz-checkbox formControlName="skipWeekend">
              跳过周末
            </label>
          </div>
          <div *nzSpaceItem>
            <label nz-checkbox formControlName="skipHoliday">
              跳过节假日
            </label>
          </div>
          <div *nzSpaceItem>
            <label nz-checkbox formControlName="autoBalance">
              自动平衡工作量
            </label>
          </div>
        </nz-space>
      </nz-form-control>
    </nz-form-item> -->

    <!-- 按钮组 -->
    <div class="form-buttons">
        <button nz-button nzType="default" (click)="onCancel()" type="button">取消</button>
        <button nz-button nzType="primary" 
                [nzLoading]="loading" 
                [disabled]="form.invalid">
          保存
        </button>
    </div>

  </form>