<form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>用户名</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="请输入4-20位字母、数字或下划线">
        <input nz-input formControlName="username" placeholder="请输入用户名">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="!user">
        <nz-form-label [nzSpan]="6" nzRequired>密码</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="密码长度至少6位">
          <input nz-input type="password" formControlName="password" placeholder="请输入密码">
        </nz-form-control>
      </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>姓名</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="请输入姓名">
        <input nz-input formControlName="realName" placeholder="请输入姓名">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>角色</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-select formControlName="roleId" 
                     nzPlaceHolder="请选择角色">
            <nz-option *ngFor="let role of roles"
                       [nzValue]="role.id"
                       [nzLabel]="role.name">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>邮箱</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="请输入有效的邮箱地址">
        <input nz-input formControlName="email" placeholder="请输入邮箱">
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>手机号</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="请输入有效的手机号">
        <input nz-input formControlName="phone" placeholder="请输入手机号">
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>有效期</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <nz-range-picker
          formControlName="validDateRange"
          [nzShowTime]="{ nzFormat: 'HH:mm' }"
          nzFormat="yyyy-MM-dd HH:mm">
        </nz-range-picker>
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-label [nzSpan]="6">状态</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <nz-radio-group formControlName="status">
          <label nz-radio-button nzValue="ACTIVE">启用</label>
          <label nz-radio-button nzValue="INACTIVE">禁用</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
  
    <div class="form-footer">
      <button nz-button (click)="cancel()">取消</button>
      <button nz-button nzType="primary" type="submit">确定</button>
    </div>
  </form>