<form nz-form [formGroup]="scheduleForm">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">排班日期</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input [disabled]="true" [value]="formatDate(scheduleDate)">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6">班次</nz-form-label>
      <nz-form-control [nzSpan]="14" [nzErrorTip]="'请选择班次'">
        <nz-select formControlName="shiftTypeId">
          <nz-option 
            *ngFor="let shift of shiftTypes" 
            [nzValue]="shift.shiftTypeId" 
            [nzLabel]="shift.shiftTypeName + ' (' + shift.startTime + '-' + shift.endTime + ')'">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6">医生</nz-form-label>
      <nz-form-control [nzSpan]="14" [nzErrorTip]="'请选择医生'">
        <!-- Replace app-doctor-selector with app-doctor-select -->
        <app-doctor-select
        [control]="doctorControl"
        [shiftTypeId]="scheduleForm.get('shiftTypeId')?.value"
        (doctorSelected)="onDoctorSelected($event)">
        </app-doctor-select>
      </nz-form-control>
    </nz-form-item>
  </form>