<form nz-form [formGroup]="userForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">用户名</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input nz-input formControlName="username" readonly />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6">真实姓名</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input nz-input formControlName="realName" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6">邮箱</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input nz-input formControlName="email" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6">电话</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input nz-input formControlName="phone" />
      </nz-form-control>
    </nz-form-item>
    <div class="modal-footer">
      <button nz-button (click)="cancel()">取消</button>
      <button nz-button nzType="primary" [disabled]="!userForm.valid">保存</button>
    </div>
  </form>