<div class="page-header">
    <div class="header-title">
      <h2>用户管理</h2>
    </div>
    <div class="header-action">
      <nz-input-group [nzSuffix]="suffixIcon" style="width: 300px; margin-right: 16px;">
        <input type="text" nz-input placeholder="搜索用户名/姓名/邮箱" [(ngModel)]="searchText">
      </nz-input-group>
      <ng-template #suffixIcon>
        <i nz-icon nzType="search"></i>
      </ng-template>
      <button nz-button nzType="primary" (click)="showCreateModal()">
        <i nz-icon nzType="plus"></i>新建用户
      </button>
    </div>
  </div>
  
  <nz-table 
    #basicTable 
    [nzData]="users" 
    [nzLoading]="loading"
    [nzFrontPagination]="true"
    [nzShowSizeChanger]="true">
    <thead>
      <tr>
        <th>用户名</th>
        <th>姓名</th>
        <th>邮箱</th>
        <th>电话</th>
        <th>状态</th>
        <th>有效期</th>
        <th>创建时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of basicTable.data">
        <td>{{ user.username }}</td>
        <td>{{ user.realName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>
          <nz-tag [nzColor]="user.status === KeyStatusDict.ACTIVE ? 'success' : 'error'">
            {{ user.status === KeyStatusDict.ACTIVE ? '启用' : '禁用' }}
          </nz-tag>
        </td>
        <td>
          {{ user.validFrom | date:'yyyy-MM-dd' }} 至 {{ user.validTo | date:'yyyy-MM-dd' }}
        </td>
        <td>{{ user.createdAt | date:'yyyy-MM-dd HH:mm' }}</td>
        <td>
          <a (click)="showEditModal(user)">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="showQuotaModal(user)">配额</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="toggleStatus(user)">
            {{ user.status === KeyStatusDict.ACTIVE ? '禁用' : '启用' }}
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="resetPassword(user)">重置密码</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a nz-dropdown [nzDropdownMenu]="menu">
            更多
            <i nz-icon nzType="down"></i>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="deleteUser(user)">
                <i nz-icon nzType="delete"></i>删除
              </li>
            </ul>
          </nz-dropdown-menu>
        </td>
      </tr>
    </tbody>
  </nz-table>