:host {
    display: block;
    padding: 24px;
  }
  
  .generate-btn {
    margin-top: 8px;
  }
  
  .form-footer {
    margin-top: 24px;
    text-align: right;
  
    button + button {
      margin-left: 8px;
    }
  }