<form nz-form [formGroup]="form">
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>名称</nz-form-label>
      <nz-form-control [nzSpan]="16" nzErrorTip="请输入密钥名称">
        <input nz-input formControlName="name" placeholder="请输入密钥名称" />
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item>
        <nz-form-label [nzSpan]="6">状态</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-radio-group formControlName="status">
            <label nz-radio-button nzValue="ACTIVE">启用</label>
            <label nz-radio-button nzValue="INACTIVE">禁用</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6">是否默认</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <nz-switch formControlName="isDefault"></nz-switch>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>有效期</nz-form-label>
      <nz-form-control [nzSpan]="16" nzErrorTip="请选择有效期">
        <nz-range-picker formControlName="validRange"></nz-range-picker>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6">描述</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <textarea nz-input formControlName="description" 
                  [nzAutosize]="{ minRows: 3, maxRows: 5 }"
                  placeholder="请输入描述"></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>